In [1]:
import pandas as pd
V = pd.__version__
print(V)

1.0.5

In [2]:
obj = pd.Series([5, -4, 7, 0, 12])
print(obj)
print(type(obj))

0     5
1    -4
2     7
3     0
4    12
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
obj = pd.Series([8, -20, -3, 13, 2])

print(obj.values)
print(obj.index)

print(obj[2])

[  8 -20  -3  13   2]
RangeIndex(start=0, stop=5, step=1)
-3

In [4]:
obj = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
print(obj)

print(obj['c'])
print(obj[['d', 'a']])
print(obj[1:4])

a    10
b    20
c    30
d    40
e    50
dtype: int64
30
d    40
a    10
dtype: int64
b    20
c    30
d    40
dtype: int64

In [5]:
pop = pd.Series([9765623, 3441453, 2461769], index=['서울', '부산', '대구'])

for i, v in pop.items() :
    print(f'{i} : {v}명')

서울 : 9765623명
부산 : 3441453명
대구 : 2461769명

In [6]:
pop = pd.Series({'서울':9765623, '부산':3441453, '대구':2461769}, index=['서울', '부산', '대구', '광주', '대전'])
print(pop)

pop['광주'] = 149336

print('광주시 인구 : %.0f명' % pop['광주'])

서울    9765623.0
부산    3441453.0
대구    2461769.0
광주          NaN
대전          NaN
dtype: float64
광주시 인구 : 149336명

In [7]:
data = {
    '이름':['홍길동', '유관순', '이순신', '안철수'],
    '아이디':['jdhong','ksyou', 'immortallee', 'antimaker'],
    '비밀번호':['1234', '1234', '1234', '1234']
}

frame = pd.DataFrame(data)
print(frame)

    이름          아이디  비밀번호
0  홍길동       jdhong  1234
1  유관순        ksyou  1234
2  이순신  immortallee  1234
3  안철수    antimaker  1234

In [8]:
member = {
    '이름':['김두한', '구마적'],
    '나이':[20, 23],
    '전화번호':['010-1234-1234', '010-1577-1577']
}

frame = pd.DataFrame(member, columns=['이름', '전화번호', '나이', '주소'], index=['01', '02'])
print(frame)

     이름           전화번호  나이   주소
01  김두한  010-1234-1234  20  NaN
02  구마적  010-1577-1577  23  NaN

In [9]:
data = {
    '학교명':['사상고','대저고','가야고','부산고','개금고'],
    '학급수':[25, 23, 15, 19, 10],
    '학생수':[620, 600, 550, 580, 400],
    '교사수':[80, 95, 70, 90, 65]
}

frame = pd.DataFrame(data, index=['01', '02', '03', '04', '05'])
print(frame)

print(frame.loc['02', '학생수'])
print(frame.loc['04', ['학교명', '학급수', '교사수']])

    학교명  학급수  학생수  교사수
01  사상고   25  620   80
02  대저고   23  600   95
03  가야고   15  550   70
04  부산고   19  580   90
05  개금고   10  400   65
600
학교명    부산고
학급수     19
교사수     90
Name: 04, dtype: object

In [10]:
data = {
    '아이디':['kim','song','han','choi'],
    '구매상품':['상품A', '상품B', '상품C', '상품D'],
    '가격':[15000, 23000, 33000, 50000],
    '개수':[3, 5, 1, 10],
    '구매일':['0303', '0810', '0120', '0601']
}

frame = pd.DataFrame(data)
print(frame)
print()

print(frame.iloc[2, 0])
print()
print(frame.iloc[3, :2])
print()
print(frame.iloc[:, [0,4]])

    아이디 구매상품     가격  개수   구매일
0   kim  상품A  15000   3  0303
1  song  상품B  23000   5  0810
2   han  상품C  33000   1  0120
3  choi  상품D  50000  10  0601

han

아이디     choi
구매상품     상품D
Name: 3, dtype: object

    아이디   구매일
0   kim  0303
1  song  0810
2   han  0120
3  choi  0601